*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto; 
}




/** Header **/

.header {
    height: 45px;
    background: linear-gradient(#fff, #ff9900);
    position: relative;
}

.header__title {
   padding: 0 15px 0 15px;
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   -webkit-transform: translate(0, -50%);
   -moz-transform: translate(0, -50%);
   -ms-transform: translate(0, -50%);
   -o-transform: translate(0, -50%);
}



/** Content **/

.content {
    flex: 1 1 auto;
    margin: 15px 0 5px 0;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.blocks__column {
    flex: 0 1 30%;
    padding: 0 5px;
    display: flex;
    margin: 0 0 10px 0;
}

.blocks__column:nth-child(3n) {
    flex: 0 1 40%;
}

.blocks__item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
}

.info {
    margin-top: 10px;
}

.hidden-info {
    flex: 1 1 auto;
    color: gray;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
}

.blocks__column:hover .hidden-info{
    opacity: 1;
}

.blocks__button {
    border: 1px solid #FFCC66;
    background-color: transparent;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px auto 10px;
    text-decoration: none;
    color: #333;
}



/** Footer **/

.footer {
    height: 45px;
    background-color: #FFCC66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    padding: 0;
}



/** Media Queries **/

@media (max-width: 750px) {
    .blocks__column, .blocks__column:nth-child(3n) {
        flex: 0 1 50%;
    }
}

@media (max-width: 450px) {
    .blocks__column, .blocks__column:nth-child(3n) {
        flex: 0 1 100%;
    }
}